<div class="container-fluid" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.35)), url(background.jpg);margin-bottom:  -2vh;padding-bottom:  10px;color:  white;">
  <br>
  <div class="row">
    <div class="col col-6">
        <h3>CYPHERS STOCK SIMULATOR</h3>
    </div>
    <div class="col col-6">
        <h3 style="
        text-align:  right;
    ">{{playerName}}</h3>
    </div>

  </div>

</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" ></a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" >
        <span>Total turns: </span>
        <span>{{TURN_COUNT}} </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >
        <span>Current turn: </span>
        <span>{{curTurn}} </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >
        <span>Turn ends: </span>
        <span style="color: red">{{clockVal}} </span>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" >
        <span>Rank : </span>
        <span>{{loggedplayer.rank}} </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >
        <span>Account Balance : </span>
        <span>{{loggedplayer.accountBalance | currency:'USD':true:'1.2-2'}}</span>
      </a>
    </li>
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" >
        <button class="btn btn-warning" data-toggle="modal" data-target="#myStockModal" (click)="getMyDetails(loggedplayer)">My Stocks</button>         
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >
        <button class="btn btn-warning" data-toggle="modal" data-target="#historyModal" (click)="getMyDetails(loggedplayer)">History</button>       
      </a>
    </li>
  </ul>


</nav>
<div class="container-fluid" style="    padding-top: 30px;
background: #e6e6e6;">
  <div class="row" >
    <div class="col col-2 left">
      <!-- player score table -->
      <div style="margin: 10px">
        <h3 style="text-align: center">
          Players
        </h3>
        <div class="row">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th>Player</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let player of players;let i = index">
                <td id="{{i+1}}" (click)="getMyDetails(player)" style="cursor: pointer;"  data-toggle="modal" data-target="#historyModal">{{player.username}}</td>
                <td>
                  <p *ngIf="i==0" style="color: red">winner</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <h3 style="text-align: center">Analyst Suggession</h3>
        <p *ngIf="!analystDecision" style="text-align: center">No Suggesions yet..</p>
          <div *ngIf="analystDecision" id="carouselExampleControls" class="carousel slide" style="width: 100%;     margin: 10px;" data-ride="carousel">
              <div class="carousel-inner">
                
                <div *ngFor="let res of analystDecision; let j = index" [ngClass]=" (j==0) ? 'carousel-item active' : 'carousel-item'">
                    <p>Company : {{res.company}}</p>
                    <p>recommendation : {{res.recommendationString}}</p>
                    <p>Turns Till : {{res.turnsTillRecommendation}}</p>
                </div>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
      </div>

    </div>
    <div class="col col-10 right">
      <div class="row" id="stockChart"></div>
    </div>
  </div>
  <div class="row">
    <div class="col col-4">
      <!-- sector boom table -->
      <div class="row" style="padding: 10px;"> 
          <h3>
            Event Details
          </h3>
          <div style="width: 100%">
            <table class="table table-dark table-hover">
              <thead>
                <th>Turn</th>
                <th>Event</th>
              </thead>
              <tr>
                <td>{{curTurn}}</td>
                <td>{{eventPrediction}}</td>
              </tr>
            </table>
          </div>
  
        </div>
        <!-- ---------- -->
    </div>
    <div class="col col-8">      <div>
        <div class="row" style="
        padding: 10px;
    ">
          <h3 class="center">
            Stock Table
          </h3>
          <input type="text" #search (keyup)="onSearchStock($event)" placeholder="Search by Sector, Stock or Price..." class="form-control"
            id="usr">

        </div>
        <div style="max-height: 50vh; overflow-y: scroll">
          <table class="table table-dark table-hover">
            <thead>
              <th>Sector</th>
              <th>Company</th>
              <th>Price</th>
              <th></th>
            </thead>
            <tbody>
              <tr *ngFor="let stock of stocks">
                <td>{{stock.sector}}</td>
                <td>{{stock.companyName}}</td>
                <td>{{stock.price | currency:'$':true:'1.2-2'}}</td>
                <td>
                  <button class="btn btn-warning" data-toggle="modal" data-target="#stockModal" (click)="buyStock(stock)">Buy</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div></div>
  </div>

</div>

<div style="width: 100%">

  <div style="padding-left: 10px;" class="playersDiv">
    <div>

      <!-- Player Details - Start-->
      <div>
        <!-- <app-player (bindPlayer)="bindSelectedPlayer($event)" (bindLoggedPlayer)="bindLoggedPlayer($event)"></app-player> -->

        <!-- The My Stock Modal -->
        <div class="modal fade" id="myStockModal">
          <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">My Stocks</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">
                <table style="width:100%">
                  <tr>
                    <td>Company</td>
                    <td>Price</td>
                    <td>Quantity</td>
                    <td></td>
                  </tr>
                  <tr *ngFor="let stock of loggedplayer.stocks">
                    <td>{{stock.company}}</td>
                    <td>{{stock.purchasePrice | currency:'USD':true:'1.2-2'}}</td>
                    <td>{{stock.quantity}}</td>
                    <td>
                      <button class="btn-warning" data-toggle="modal" data-target="#stockSellingModal" (click)="sellStock(stock)">Sell</button>
                    </td>
                  </tr>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>



  </div>


  <!-- -------------------------------------------------------------------------------- modals -->


  
        <!-- The Buying Modal -->
        <div class="modal fade" id="stockModal">
            <div class="modal-dialog modal-sm modal-dialog-centered">
              <div class="modal-content">
  
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Buying Stock</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
  
                <!-- Modal body -->
                <div class="modal-body">
  
                  <table>
                    <tr>
                      <td>Sector:</td>
                      <td>{{selectedStock.sector}}</td>
                    </tr>
                    <tr>
                      <td>Company:</td>
                      <td>{{selectedStock.companyName}}</td>
                    </tr>
                    <tr>
                      <td>Share Price:</td>
                      <td>{{selectedStock.price | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                    <tr>
                      <td>Quantity:</td>
                      <td>
                        <input placeholder="0" type="text" value="{{selectedStock.quantity}}" (keyup)="onSetBuyingQuantity($event)" style="width:50px"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td>Total Price:</td>
                      <td> {{totalPrice | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
                  </table>
                </div>
  
                <!-- Modal footer -->
                <div class="modal-footer">
                  <label style="color: red;" *ngIf="isError">Sorry!.
                    <br> Insufficient account balance</label>
                  <button type="button" [disabled]="(selectedStock.quantity<1 || isError)" class="btn btn-danger" data-dismiss="modal" (click)="submitBuyStock()">Submit</button>
                </div>
  
              </div>
            </div>
          </div>

      <!-- The  History Modal -->
      <div class="modal fade" id="historyModal">
          <div class="modal-dialog modal-sm modal-dialog-centered" style="max-width: 600px;">
            <div class="modal-content">
    
              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title"> {{selectedPlayer.username}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
    
              <!-- Modal body -->
              <div class="modal-body">
                <!-- <app-history [player]=selectedPlayer></app-history> -->
                <div>
                  <table>
                    <tr>
                      <td>Account Balance:</td>
                      <td>{{selectedPlayer.accountBalance | currency:'USD':true:'1.2-2'}}</td>
                    </tr>
  
                  </table>
                </div>
    
                <div style="margin-top: 15px;">
                  <table style="width: 100%;">
                    <tr>
                      <td>Turn No.</td>
                      <td>Stock Symbol</td>
                      <td>Quantity</td>
                      <td>Share Price</td>
                      <td>Transaction Type</td>
                    </tr>
                    <tr *ngFor="let purchase of history">
                      <td>{{purchase.turn}}</td>
                      <td>{{purchase.stock}}</td>
                      <td>{{purchase.quantity}}</td>
                      <td>{{purchase.price | currency:'USD':true:'1.2-2'}}</td>
                      <td>{{purchase.transactionType}}</td>
                    </tr>
                  </table>
                </div>
    
              </div>
    
            </div>
          </div>
        </div>


  <!-- The Stock Selling Modal -->
  <div class="modal fade" id="stockSellingModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Selling Stock</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table>
              <tr>
                  <td>Sector:</td>
                  <td>{{selectedPlayerStock.sector}}</td>
                </tr>
            <tr>
              <td>Company:</td>
              <td>{{selectedPlayerStock.company}}</td>
            </tr>
            <tr>
              <td>Available Quantity:</td>
              <td>{{selectedPlayerStock.quantity}}</td>
            </tr>
            <tr>
              <td>Share Price:</td>
              <td>{{selectedPlayerStock.purchasePrice | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
              <td>Selling Quantity:</td>
              <td>
                <input placeholder="0" type="text" value="{{sellingQuantity}}" (keyup)="onSetQuantity($event)" style="width:50px" />
              </td>
            </tr>
            <tr>
              <td>Total Price:</td>
              <td>{{totalPrice | currency:'USD':true:'1.2-2'}}</td>
            </tr>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <label style="color: red;" *ngIf="isError">Sorry!.
            <br> Insufficient quantity in the stock</label>
          <button type="button" [disabled]="(sellingQuantity<1 || isError)" class="btn btn-danger" data-dismiss="modal" (click)="submitSellStock()">Submit</button>
        </div>

      </div>
    </div>
  </div>
  <div id="snackbar">{{snackMsg}}</div>