.subtitle{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}

.profilePic{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    border-color: #292f79;
    border-style: solid;
    border-width: 6px;
}

.profileName{
    margin-left: 14px;
    font-size: 14pt;
    font-weight: 900;
    color: #292f79;
}

.subtitle{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}
.avatar{
    width:50px;
    height: 40px;
    padding-right:10px;
    /* padding-bottom: 10px; */
}

.divPlayer{
    padding-left: 8px;
    padding: 5px;
}

.divSelectedPlayer{
    padding-left: 8px;
    padding: 5px;
    background-color: #292f79a3
    ;
}

.winner{
    float: right;
    color: red;
    background-color: yellow;
    border-radius: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}

.tblHeading{
    margin-left: 14px;
    font-size: 14pt;
    font-weight: 900;
    color: #292f79;
}

.stockHeading{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}

.divStock{
    border-color: #292f79;
    border-style: solid !important;
    border-width: 3px;
    box-sizing: border-box;
    margin: 2px;
    margin-bottom: 10px;
}

.stockContent{
    padding-right: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}