<h3 class="subtitle">
  Players 
</h3>
<div *ngFor = "let player of players" class="divPlayer" >
  
    <div class="divPlayer" *ngIf="!player.isLogged">
      <img class="avatar" src="../../../assets/images/player.png" />
      <span>
          <span style="cursor: pointer;"  data-toggle="modal" data-target="#historyModal" 
          (click)="showHistory(player)" >{{player.name}}</span>
        </span>
      <span class="winner" *ngIf="player.rank==1">winner</span>
    </div>

    <div class="divSelectedPlayer" *ngIf="player.isLogged">
      <img class="avatar" src="../../../assets/images/player.png" />
      <span>
          <span style="cursor: pointer;" data-toggle="modal" data-target="#historyModal" 
          (click)="showHistory(player)" >{{player.name}}</span>
      </span>
      <span class="winner" *ngIf="player.rank==1">winner</span>
    </div>
</div>
