.subtitle{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}
.avatar{
    width:50px;
    height: 40px;
    padding-right:10px;
    /* padding-bottom: 10px; */
}

.divPlayer{
    padding-left: 8px;
    padding: 5px;
}

.divSelectedPlayer{
    padding-left: 8px;
    padding: 5px;
    background-color: #292f79a3
    ;
}

.winner{
    float: right;
    color: red;
    background-color: yellow;
    border-radius: 14px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}