<div>
    <table>
        <tr>
          <td>Account Balance:</td>
          <td>{{player.accountBalance | currency:'USD':true:'1.2-2'}}</td>
        </tr>
        <tr>
          <td>Profit:</td>
          <td>{{player.profit | currency:'USD':true:'1.2-2'}}</td>
        </tr>          
        <tr>
            <td>Rank: </td>
            <td>{{player.rank}}</td>
        </tr>
    </table>
</div>

<div style="margin-top: 15px;">
  <table style="width: 100%;">
    <tr>
      <td>Turn No.</td>
      <td>Sector</td>
      <td>Stock</td>
      <td>Quantity</td>
      <td>Share Price</td>
      <td>PurchaseTtype</td>
      <td>Profit (%)</td>
    </tr>
    <tr *ngFor="let purchase of history">
        <td>{{purchase.turnNo}}</td>
        <td>{{purchase.sector}}</td>
        <td>{{purchase.stock}}</td>
        <td>{{purchase.quantity}}</td>
        <td>{{purchase.sharePrice | currency:'USD':true:'1.2-2'}}</td>
        <td>{{purchase.purchaseType}}</td>
        <td>{{purchase.profit}}</td>
    </tr>
  </table>
</div>