<h3 class="subtitle">
    My Details 
  </h3>
  <div style="padding-left: 8px; margin-bottom:8px;">
      <div>
          <img class="profilePic" src="../../../assets/images/player.png" />
          <span class="profileName">{{player.username}}</span>
        </div>
        <table>
          <tr>
            <td>Account Balance:</td>
            <td>{{player.accountBalance | currency:'USD':true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>Profit: </td>
            <td>{{player.profit | currency:'USD':true:'1.2-2'}}</td>
          </tr>          
          <tr>
              <td>Rank: </td>
              <td>{{player.rank}}</td>
          </tr>
          <tr>
            <td>
              <button class="btn-warning" data-toggle="modal" data-target="#myStockModal">My Stocks</button>
            </td>
            <td>
              <button class="btn-warning" data-toggle="modal" data-target="#historyModal" 
              (click)="showHistory(player)" style="padding-right: 5px;">History</button>
            </td>
          </tr>
        </table>
  </div>

  <!-- The My Stock Modal -->
<div class="modal fade" id="myStockModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">My Stocks</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <table style="width:100%">
              <tr class="tblHeading">
                <td>Sector</td>
                <td>Stock</td>
                <td>Price</td>
                <td>Quantity</td>
                <td></td>
              </tr>
              <tr *ngFor="let stock of player.stocks">
                <td>{{stock.sector}}</td>
                <td>{{stock.stock}}</td>
                <td>{{stock.sharePrice | currency:'USD':true:'1.2-2'}}</td>
                <td>{{stock.quantity}}</td>
                <td>
                  <button class="btn-warning" data-toggle="modal" data-target="#stockSellingModal"
                   (click)="sellStock(stock)">Sell</button>
                </td>
              </tr>
            </table>
        </div>

      </div>
    </div>
  </div>



<!-- The Stock Selling Modal -->
<div class="modal fade" id="stockSellingModal">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Selling Stock</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table>
          <tr><td>Sector:</td><td>{{selectedStock.sector}}</td></tr>
          <!-- <tr><td>Stock:</td><td>{{selectedStock.stock}}</td></tr> -->
          <tr><td>Available Quantity:</td><td>{{selectedStock.quantity}}</td></tr>
          <!-- <tr><td>Share Price:</td><td>{{selectedStock.sharePrice | currency:'USD':true:'1.2-2'}}</td></tr> -->
          <tr>
            <td>Selling Quantity:</td>
            <td><input  placeholder="0" type="text" value="{{sellingQuantity}}" (keyup)="onSetQuantity($event)" style="width:50px"/></td>
          </tr>
          <tr><td>Total Price:</td><td>{{totalPrice | currency:'USD':true:'1.2-2'}}</td></tr>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <label style="color: red;" *ngIf="isError">Sorry!.<br> Insufficient quantity in the stock</label>
        <button type="button" [disabled]="(sellingQuantity<1 || isError)" class="btn btn-danger"
         data-dismiss="modal" (click)="submitSellStock()">Submit</button>
      </div>

    </div>
  </div>
</div>



