.subtitle{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}

.profilePic{
    height: 100px;
    width: 100px;
    border-radius: 60px;
    border-color: #292f79;
    border-style: solid;
    border-width: 6px;
}

.profileName{
    margin-left: 14px;
    font-size: 14pt;
    font-weight: 900;
    color: #292f79;
}