.navbar{
  height: 125px;
  padding-left: 40%;
  background-color: #040D31;
}

.navbar-header h1{
  color: #fff;
  font-family: "Georgia";

}
.navbar-header h4{
  color: #fff;
  font-family: "Georgia";
}
.navbar-header img{
  display: inline-block;
}

.jumbotron{
  margin-top: 125px;
  width: 100%;
  height: 1500px;
  background-color: #fff;
  margin-bottom: 0px;
  margin-top: 0px

}
.footer{
  width:100%;
  height:125px;
  background-color: #020617;

}
.col-md-4{
  height:1450px;
  background-color:#E9E6E6;
}

.col-md-8{
  height: 1450px;
  background-color:#fff;
}

#player{

}
a:link{
  text-decoration: none;
  font-family: Georgia;
}

#highlights{
  margin-top:100px;
  text-align: center;
  font-size: 18px;
  border-color: #020617;
  border-width: medium;
  height: 105px;
}
#timer{
  margin-top:100px;
  text-align: center;
  font-size: 18px;
  border-color: red;
}
#turn{
  height: 50px;
  text-align: center;
  font-size: 18px;
}
#playerProfile{
  height: 420px;
  text-align: center;
}
#quit{
  background-color:#980816;
  color: #fff;
  margin-left: 85%;
}
#sell{
  background-color:#020617;
  color: #fff;
}
#graph{
  background-color:#1EFAFA;
  height: 400px;
}

#stockTable{
  height:800px;

}
#stockTable h2{
  margin-top:0px;
}
#stockSearch{
  width: 70%;
  margin-left: 15%;
}
#stockPriceTable{
  margin-left: 5%;
  width: 90%;
}
#buy{
  background-color:#020617;
  color: #fff;
  width: 40%;
}
body{
  font-family: Georgia;


}
