.stockHeading{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}

.divStock{
    border-color: #292f79;
    border-style: solid !important;
    border-width: 3px;
    box-sizing: border-box;
    margin: 2px;
    margin-bottom: 10px;
}

.stockContent{
    padding-right: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.tblHeading{
    margin-left: 14px;
    font-size: 14pt;
    font-weight: 900;
    color: #292f79;
}