<div class="divStock">
<p class="stockHeading">
  Stock Table
</p>

<input type="text" value="" placeholder="Search by Sector, Stock or Price..." #search
 (keyup)="onSearchStock($event)" style="margin-left: 40px;width: 35%;font-size: 10pt;">

<div class="stockContent">
  <table style="width:100%">
    <tr class="tblHeading">
      <td>Sector</td>
      <td>Stock</td>
      <td>Price</td>
      <td></td>
    </tr>
    <tr *ngFor="let stock of stocks">
      <td>{{stock.sector}}</td>
      <td>{{stock.stock}}</td>
      <td>{{stock.sharePrice | currency:'$':true:'1.2-2'}}</td>
      <td>
        <button class="btn-warning" data-toggle="modal" data-target="#stockModal" (click)="buyStock(stock)">Buy</button>
      </td>
    </tr>
  </table>
</div>
</div>

<!-- The Buying Modal -->
<div class="modal fade" id="stockModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Buying Stock</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          
          <table>
            <tr><td>Sector:</td><td>{{selectedStock.sector}}</td></tr>
            <!-- <tr><td>Stock:</td><td>{{selectedStock.stock}}</td></tr> -->
            <!-- <tr><td>Share Price:</td><td>{{selectedStock.sharePrice | currency:'USD':true:'1.2-2'}}</td></tr> -->
            <tr>
              <td>Quantity:</td>
              <td><input  placeholder="0" type="text" value="{{selectedStock.quantity}}" (keyup)="onSetQuantity($event)" style="width:50px"/></td>
            </tr>
            <tr><td>Total Price:</td><td> {{totalPrice | currency:'USD':true:'1.2-2'}}</td></tr>
          </table>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <label style="color: red;" *ngIf="isError">Sorry!.<br> Insufficient account balance</label>
          <button type="button" [disabled]="(selectedStock.quantity<1 || isError)" class="btn btn-danger"
           data-dismiss="modal" (click)="submitBuyStock()">Submit</button>
        </div>

      </div>
    </div>
  </div>