<div class="login" style="overflow-y: auto">

  <div class="main-div blurred-bg">

    <div class="alert alert-danger alert-dismissible fade show" *ngIf="(errorMsg.length > 0)">
      <strong>Error!</strong> {{errorMsg}}
    </div>

    <h1 class="mainH1">Cyphers Stock Simulator</h1>

    <!-- <button type="button" class="btn btn-warning gameBtn" routerLink="/dashboard"> -->
    <button *ngIf="(!keys) && (!isGameJoinSuccess)"  type="button" class="btn btn-warning gameBtn" data-toggle="modal" data-target="#usernameModal">
      Let's Start
    </button>

    <!-- <button *ngIf="(!keys) && (!isGameJoinSuccess)"  type="button" class="btn btn-warning continueBtn" routerLink="/dashboard">Continue</button> -->

    <div *ngIf="keys">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" [ngStyle]="setProgressBarWidth()">
          {{ progressBarPresentage ? 'Loading...' : ''}}
        </div>
      </div>
      <p style="    font-size: 10px;
          text-decoration: underline;
          margin-top: -20px;">{{this.progressBarText}}</p>
      <h3 style="font-size: 1vw;">Please share the below keys with your team to start a game</h3>
      <div class="row" *ngFor="let key of keys; let i = index">
        <p class="col col-md-50 keys" *ngIf="i !== 0"> {{key}}</p>
      </div>
    </div>

    <div *ngIf="isGameJoinSuccess">
      <p>You have joined to the {{gameCreator}}'s' game. Please wait a moment till others join</p>
      <div class="row">
        <img _ngcontent-c1="" src="https://zippy.gfycat.com/SkinnySeveralAsianlion.gif" style="
            height: 50px;
            margin: 20px auto;
        ">
      </div>
      <div class="row" *ngFor="let player of players; let i = index">
        <p class="col col-md-50 keys"> {{player[1]}} in the game</p>
      </div>
    </div>

    <a (click)="gotLink = !gotLink" *ngIf="(!keys) && (!isGameJoinSuccess)" data-toggle="modal" data-target="#getKeyModal">Got a game key with you?</a>
  </div>




  <!-- The Username Modal -->
  <div class="modal fade" id="usernameModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Provide an user name for you</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <input class="addKeyInput" placeholder="Username" type="text" (keyup)="onUsername($event)" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="createNewGame()">Submit</button>
        </div>

      </div>
    </div>
  </div>

  <!-- The Get Key Modal -->
  <div class="modal fade" id="getKeyModal">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Provide the Key to join with a game</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <input class="addKeyInput" placeholder="Username" type="text" (keyup)="onUsername($event)" />
          <input class="addKeyInput" placeholder="Paste your key here.." type="text" (keyup)="onKey($event)" />
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="joinwithGame()">Submit</button>
        </div>

      </div>
    </div>
  </div>


  <!-- showprogress modal -->
  <div class="modal fade" id="showProgress">
    <div class="modal-dialog modal-sm modal-dialog-centered">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Please wait a moment till all 4 players join with the game</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <p></p>
        </div>

      </div>
    </div>
  </div>



</div>
