.playersDiv{
    float: left;
    width: 20%;   
}

.playerSubDiv{
    border-color: #292f79;
    border-style: solid !important;
    border-width: 3px;
    box-sizing: border-box;
    margin: 2px;
    margin-bottom: 10px;
}

.playersSubDiv{
    border-color: #292f79;
    border-style: solid !important;
    border-width: 3px;
    box-sizing: border-box;
    margin: 2px;
}

.heading{
    text-align: center;
    background-color: #292f79;
    color: white;
}
