/* You can add global styles to this file, and also import other style files */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
}

input {
  color: black !important;
}

$blurred-img:"img/background.jpg";
.login {
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: (linear-gradient(0deg, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.35)), url($blurred-img));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 0px;
  margin: 0px;
  .main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;
    width: 70%;
    align-content: center;
    text-align: center;
  }
  .gameBtn {
    width: 20vw;
    margin: 30px auto 5px auto;
  }
  .addKeyBtn {
    border: none;
  }
  .addKeyBtn {
    border: none;
  }
  .addKeyInput {
    width: 100%;
    margin: 20px auto;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .mainH1 {
    font-size: 6vw;
    padding-bottom: 16vh;
  }
  .modal {
    color: black !important;
  }
  .modal-sm {
    max-width: 418px;
  }
  .idScroll{
    max-height: 38vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .keys{
    background: #e0e0e0;
    padding: 5px;
    border: black solid 1px;
    border-radius: 11px;
    color: black;
    font-weight: 700;
    flex: 0 0 70%;
    margin: 10px auto;
    max-width: max-content;
    padding: 10px 30px;
  }
  .progress {
    width: 40%;
    margin: 22px auto;
    height: 2rem;
    background-color: black;
    border: solid 1px #0012ef;
  }
}

.heading{
  text-align: center;
  background-color: #292f79;
  color: white;
}

.playersDiv{
  float: left;
  width: 20%;   
}

.playerSubDiv{
  border-color: #292f79;
  border-style: solid !important;
  border-width: 3px;
  box-sizing: border-box;
  margin: 2px;
  margin-bottom: 10px;
}

.playersSubDiv{
  border-color: #292f79;
  border-style: solid !important;
  border-width: 3px;
  box-sizing: border-box;
  margin: 2px;
}


.turnDiv{
  border-color: #292f79;
  border-style: solid !important;
  border-width: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 8px;
}

.eventsDiv{
  border-color: #292f79;
  border-style: solid !important;
  border-width: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-top: 10px;
}



.blink{
  animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}

// ------------------------ snack bar
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.carousel-item{
  background: #212529 !important;
  color: white !important;
  text-align: justify !important;
  padding: 25px !important;
  font-size: 0.9vw;
}

// ---------------------------- end fo snack bar