<h3 class="subtitle">
  Event Details
</h3>
<div style="padding: 8px;">
  <table style="width: 100%;">
    <thead class="tblHeading">
      <th>Turn</th>
      <th>Type</th>
      <th>Event</th>
    </thead>
    <tr *ngFor="let event of events">
      <td>{{event.turnNo}}</td>
      <td>{{event.evenType}}</td>
      <td>{{event.eventName}}</td>
    </tr>
  </table>
</div>
