.subtitle{
    background-color: #292f79;
    color: white;
    font-size: 14pt;
    text-align: center;
}

.tblHeading{
    margin-left: 14px;
    font-size: 14pt;
    font-weight: 900;
    color: #292f79;
}