.navbar{
  height: 125px;
  padding-left: 40%;
  background-color: #040D31;
}

.navbar-header h1{
  color: #fff;
  font-family: "Georgia";

}
.navbar-header h4{
  color: #fff;
  font-family: "Georgia";
}
.navbar-header img{
  display: inline-block;
}
body{
  font-family: Georgia;
}

#j1{
  height:600px;
  width:100%;
  margin-bottom: 0px;
  background-image: url('Images/imageLogin.png');
  background-repeat:no-repeat;
  opacity: 0.7;
}
#username{

  margin-top: 150px;
  margin-left:25%;
  width:50%;
  border-color:#040D31;
  border-width: medium;

}
#playerName{
  height: 50px;

}
#name{
  height: 50px;

}
.button{
  font-family: Georgia;
  color: #fff;
}
#createKey{
  height: 45px;
  width: 33%;
  background-color: #091269;
  color: #fff;

}
#joinWithKey{
  height: 45px;
  width: 33%;
  background-color: #5D5953;
  color: #fff;
}
#playNow{
  height: 45px;
  width: 33%;
  background-color: #69091C;
  color: #fff;
}
#footer{
  height: 120px;
  background-color: #040D31;
  color: #fff;
}

#footerIcons{
  margin-left:75%;
  padding-top: 20px;
}

.fa {
    padding:20px;
    font-size: 12px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    display:inline-block;


}
.fa:hover {
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration: none;
}
